* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Merriweather', serif;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* media queries */

@media screen and (max-width: 600px) {
  html {
    font-size: 59%;
  }
}
